scenario 1 (beacons on trolley).txt
[{"id":"d18fc4d1.416698","type":"PhysicalWeb in","z":"fedd3e9f.be529","name":"","topic":"","duplicates":true,"x":136.0994415283203,"y":210.09091186523438,"wires":[["b332aa79.b0d058","e73816a6.7370c8"]]},{"id":"e73816a6.7370c8","type":"function","z":"fedd3e9f.be529","name":"","func":"\n\nif(msg.payload.url===\"http://Ks.com\"){\n    var id =\"http://Ks.com\";\n    var timestamp = msg.payload.lastSeen;\n    var distance= msg.payload.distance;\n    if(msg.payload.distance<1){\n        msg.payload = 1;\n      \n    }else{\n        \n        msg.payload = 0;\n    }\n     \n         msg.url=\"http://1.1.1.10:8084/\"\n            +\"EyeOTBackend/SendTrolleyData\"\n            +\"?BeaconID=\"+id+\n            \"&PiID=001&BeaconTimestamp=\"\n            +timestamp+\"&BeaconDistance=\"\n            +distance;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":275.09080505371094,"y":301.8778381347656,"wires":[["df15b7c7.6d23e8","828523a5.b0d02","76aae20a.6bd74c"]]},{"id":"df15b7c7.6d23e8","type":"grovepi-buzzer","z":"fedd3e9f.be529","name":"alarm","pin":"5","x":579.3607025146484,"y":255.4658966064453,"wires":[]},{"id":"b332aa79.b0d058","type":"debug","z":"fedd3e9f.be529","name":"","active":false,"console":"false","complete":"payload","x":428.36927795410156,"y":197.1278533935547,"wires":[]},{"id":"828523a5.b0d02","type":"http request","z":"fedd3e9f.be529","name":"","method":"GET","ret":"txt","url":"","tls":"","x":539.6817474365234,"y":355.70172119140625,"wires":[[]]},{"id":"55ab0095.80b24","type":"inject","z":"fedd3e9f.be529","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":212.9545440673828,"y":76.09376525878906,"wires":[["fd842819.b84c68"]]},{"id":"fd842819.b84c68","type":"grovepi-buzzer","z":"fedd3e9f.be529","name":"","pin":"5","x":362.69029235839844,"y":87.23580932617188,"wires":[]},{"id":"76aae20a.6bd74c","type":"debug","z":"fedd3e9f.be529","name":"","active":false,"console":"false","complete":"true","x":453.69032287597656,"y":428.866455078125,"wires":[]}]