IOT/NodeRed/20170402iot.txt
[{"id":"449d160f.3bdf08","type":"PhysicalWeb in","z":"78f3a81c.01f508","name":"","topic":"","duplicates":true,"x":221,"y":130.39488983154297,"wires":[["c1224e0a.8432e","62d1a50d.c4943c"]]},{"id":"c1224e0a.8432e","type":"function","z":"78f3a81c.01f508","name":"CaptureLast","func":"if(msg.payload.url==\"http://iotsmusg28.com\"||\nmsg.payload.url==\"http://iotsmusg29.com\"||\nmsg.payload.url==\"http://iotsmusg30.com\"\n)\n{\n    global.set(\"last_timestamp\", msg.payload.lastSeen);\n    global.set(\"beaconID\",msg.payload.url);\n}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":416.7271156311035,"y":123.65341186523438,"wires":[["56ff69f5.8ed908"]]},{"id":"c2a0e671.e0d438","type":"inject","z":"78f3a81c.01f508","name":"Loop","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"x":211.7329559326172,"y":334.87783908843994,"wires":[["52d9d252.cb680c"]]},{"id":"52d9d252.cb680c","type":"function","z":"78f3a81c.01f508","name":"","func":"var currTimestamp = msg.payload;\nglobal.set(\"currenttimestamp\",currTimestamp);\nvar lastCapturedTimestamp= global.get(\"last_timestamp\");\nvar beaconID = global.get(\"beaconID\");\nvar diff = currTimestamp-lastCapturedTimestamp;\nmsg.lastCapturedTimestamp = lastCapturedTimestamp;\nmsg.currTimestamp = currTimestamp;\nmsg.diff = diff;\nglobal.set(\"diff\",diff);\nvar checker = global.get(\"checker\")||false;\nvar entryChecker = global.get(\"entryChecker\")||false;\nif(diff>10000)\n{   \n    if(!checker){\n       msg.url = \"http://192.168.56.1/EyeOTBackend_ver2/SendTrolleyDataAlarm?\"+\n        \"BeaconID=\"+beaconID+\"&PiID=001&BeaconTimestamp=\"+lastCapturedTimestamp; \n        \n        global.set(\"checker\",true);\n        global.set(\"entryChecker\",true);\n    }\n    msg.payload = 1;\n    \n    \n}else{\n    global.set(\"checker\",false);\n    msg.payload = 0;\n    \n    if(entryChecker){\n       msg.url = \"http://192.168.56.1/EyeOTBackend_ver2/SendTrolleyDataAlarm?\"+\n        \"BeaconID=\"+beaconID+\"&PiID=001&BeaconTimestamp=\"+lastCapturedTimestamp+\"&isBack=true\"; \n        \n        global.set(\"entryChecker\",false);\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":356.7242736816406,"y":336.6590881347656,"wires":[["a76cb6c4.785ff8","a597a6ce.0140d8","ee94a6bc.906988","20ead01f.f6e2e"]]},{"id":"a76cb6c4.785ff8","type":"debug","z":"78f3a81c.01f508","name":"","active":false,"console":"false","complete":"true","x":641.7272033691406,"y":351.7670593261719,"wires":[]},{"id":"56ff69f5.8ed908","type":"debug","z":"78f3a81c.01f508","name":"","active":false,"console":"false","complete":"true","x":589.7272033691406,"y":112.76704406738281,"wires":[]},{"id":"c501a72a.3f4578","type":"inject","z":"78f3a81c.01f508","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":231.73011779785156,"y":42.875,"wires":[["da79c45.f572038"]]},{"id":"da79c45.f572038","type":"grovepi-buzzer","z":"78f3a81c.01f508","name":"","pin":"5","x":422.73008728027344,"y":41,"wires":[]},{"id":"a597a6ce.0140d8","type":"grovepi-buzzer","z":"78f3a81c.01f508","name":"","pin":"5","x":578.7272033691406,"y":423.0113525390625,"wires":[]},{"id":"ee94a6bc.906988","type":"http request","z":"78f3a81c.01f508","name":"","method":"GET","ret":"txt","url":"","tls":"","x":438.99713134765625,"y":491.9090881347656,"wires":[[]]},{"id":"62d1a50d.c4943c","type":"debug","z":"78f3a81c.01f508","name":"","active":false,"console":"false","complete":"payload","x":425.86077880859375,"y":174.10794067382812,"wires":[]},{"id":"20ead01f.f6e2e","type":"function","z":"78f3a81c.01f508","name":"","func":"msg.payload = global.get(\"diff\");\nreturn msg;","outputs":1,"noerr":0,"x":530.5908508300781,"y":282.6676025390625,"wires":[["be203406.d65e78"]]},{"id":"be203406.d65e78","type":"debug","z":"78f3a81c.01f508","name":"","active":false,"console":"false","complete":"false","x":686.8578796386719,"y":223.38067626953125,"wires":[]}]