IOT/NodeRed/scenario 2 (pi on trolleys).txt
[{"id":"c7384443.b8e6d8","type":"PhysicalWeb in","z":"3a236755.d36aa8","name":"","topic":"","duplicates":true,"x":128.9545440673828,"y":141.49716186523438,"wires":[["35715a78.54bfb6"]]},{"id":"35715a78.54bfb6","type":"function","z":"3a236755.d36aa8","name":"CaptureLast","func":"if(msg.payload.url=\"http://Ks.com\")\n{\n    global.set(\"last_timestamp\", msg.payload.lastSeen);\n}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":323.68174743652344,"y":140.75567626953125,"wires":[["edf23059.73d2"]]},{"id":"89f26849.9034e8","type":"inject","z":"3a236755.d36aa8","name":"Loop","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":134.6875,"y":241.9801025390625,"wires":[["d784be94.b16aa"]]},{"id":"d784be94.b16aa","type":"function","z":"3a236755.d36aa8","name":"","func":"var currTimestamp = msg.payload;\nvar lastCapturedTimestamp= global.get(\"last_timestamp\");\nvar diff = currTimestamp-lastCapturedTimestamp;\nmsg.lastCapturedTimestamp = lastCapturedTimestamp;\nmsg.currTimestamp = currTimestamp;\nmsg.diff = diff;\nif(diff>5000)\n{\n    msg.payload = 1;\n}else{\n    \n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":302.67884826660156,"y":229.7613525390625,"wires":[["b3770df9.2e1e6","8d2fab63.f09368"]]},{"id":"b3770df9.2e1e6","type":"debug","z":"3a236755.d36aa8","name":"","active":false,"console":"false","complete":"true","x":470.68174743652344,"y":246.86932373046875,"wires":[]},{"id":"edf23059.73d2","type":"debug","z":"3a236755.d36aa8","name":"","active":false,"console":"false","complete":"true","x":498.68174743652344,"y":141.8693084716797,"wires":[]},{"id":"871ec24.675234","type":"inject","z":"3a236755.d36aa8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":139.68466186523438,"y":53.977272033691406,"wires":[["525d26f4.474018"]]},{"id":"525d26f4.474018","type":"grovepi-buzzer","z":"3a236755.d36aa8","name":"","pin":"5","x":330.68463134765625,"y":52.102272033691406,"wires":[]},{"id":"8d2fab63.f09368","type":"grovepi-buzzer","z":"3a236755.d36aa8","name":"","pin":"5","x":481.68177795410156,"y":326.1136169433594,"wires":[]},{"id":"8f732be0.53d0f8","type":"http request","z":"3a236755.d36aa8","name":"","method":"GET","ret":"txt","url":"http://1.1.1.10:8084/EyeOTBackend/SendTrolleyData?BeaconID=34696026&PiID=9954794854&BeaconTimestamp=1488693745989&BeaconDistance=10","tls":"","x":347.9516906738281,"y":411.0113525390625,"wires":[[]]},{"id":"4440ec29.c5e074","type":"inject","z":"3a236755.d36aa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":148.96023559570312,"y":369.9772644042969,"wires":[["8f732be0.53d0f8"]]}]